openapi: 3.0.1
info:
  contact:
    email: support@linode.com
    name: Linode
    url: https://linode.com
  description: "[Read the API documentation](https://techdocs.akamai.com/linode-api/reference/api)."
  title: Linode API
  version: 4.189.2
externalDocs:
  description: See documentation for Akamai's Linode API
  url: https://techdocs.akamai.com/linode-api/reference
servers:
- url: https://api.linode.com
tags:
- description: "Use the Account endpoints to manage user settings, billing, and payments.\
    \ You can also initiate and maintain OAuth client application authentication,\
    \ enable the Linode Managed service, and create new users on your account."
  name: Account
- description: "Use the Beta Programs endpoint to view information about available\
    \ beta programs. To sign up for eligible beta programs, run the _Enroll in a Beta\
    \ program_ operation."
  name: Beta programs
- description: "Managed Databases is Linode's fully-managed, high-performance database\
    \ service. Use the Managed Databases endpoints to create and manage database clusters."
  name: Databases
- description: Use the Domains endpoints to create and manage domains and domain records
    on your account.
  name: Domains
- description: "Use the Images endpoints to capture, store, and manage custom Linode\
    \ images."
  name: Images
- description: "Use the Linode Instances endpoints to create, configure, and manage\
    \ your Linode instances. You can also manage the Linode Backup service; maintain\
    \ and manage configuration profiles; create and maintain disks, initiate a host\
    \ migration; view Linode Instance statistics; and more."
  name: Linode instances
- description: "Use the Linode Types endpoints to retrieve information about Linode\
    \ plan types, including pricing information, hardware resources, and network transfer\
    \ allotment."
  name: Linode types
- description: Linode Kubernetes Engine (LKE) is Linode's managed Kubernetes service.
    Use the LKE endpoints to create and manage Kubernetes clusters and their associated
    Node Pools.
  name: Linode Kubernetes Engine (LKE)
- description: Longview is Linode's system-level monitoring and graphing service.
    Use the Longview endpoints to manage your Longview subscription and plan and to
    create and maintain Longview clients.
  name: Longview
- description: "Managed is Linode's incident response service. Use the Managed endpoints\
    \ to register a service to be monitored by the Managed Service team, provide secure\
    \ access to your managed services,  view information about detected issues, and\
    \ more."
  name: Managed
- description: "Use the Networking endpoints to view all IP addresses on your account,\
    \ reorganize assigned IPv4 addresses, update RDNS, and configure IP sharing."
  name: Networking
- description: "NodeBalancers is Linode's load balancing service. Use the NodeBalancers\
    \ endpoints to create and manage NodeBalancers. You can also create and maintain\
    \ configurations; create and maintain nodes, and view statistics."
  name: NodeBalancers
- description: "Object Storage is Linode's S3-compatible data storage service. Use\
    \ the Object Storage endpoints to create and maintaining buckets, add and remove\
    \ objects from buckets, create and maintain Object Storage keys, and cancel the\
    \ Object Storage service."
  name: Object Storage
- description: "Use the Profile endpoints to manage your Linode user profile preferences\
    \ and security settings. This includes creating and maintaining personal access\
    \ tokens, creating and maintaining SSH keys, confirming and enabling two-factor\
    \ authentication, and updating user and profile preferences."
  name: Profile
- description: "Use the Regions endpoints to view information about the various Linode\
    \ data center regions, including the service capabilities for each region, country,\
    \ status, and more."
  name: Regions
- description: Linode StackScripts allow you to create reusable scripts to configure
    new Linode instances. Use the StackScripts endpoints to create and manage StackScripts
    on your account.
  name: StackScripts
- description: "Use the Support endpoints to open, view, and close Linode Support\
    \ tickets. You can also create and manage your Support ticket replies."
  name: Support
- description: "Tags allow you to organize and group your various Linode services.\
    \ Use the Tags endpoints to create, assign, and delete your account tags."
  name: Tags
- description: "Volumes is Linode's block storage service. Use the Volumes endpoints\
    \ to create, attach, and manage your account Volumes."
  name: Volumes
- description: "Use the VPCs endpoints to view, create, and manage Virtual Private\
    \ Cloud (VPC) and VPC Subnet resources."
  name: VPCs
paths:
  /{apiVersion}/account:
    get:
      description: |-
        Returns the contact and billing information related to your Account.


        <<LB>>

        ---


        - __CLI__.

            ```
            linode-cli account view
            ```

            [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)

        - __OAuth scopes__.

            ```
            account:read_only
            ```

            [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-account
      operationId: get-account
      parameters:
      - description: "__Enum__ Call either the `v4` URL, or `v4beta` for operations\
          \ still in Beta."
        explode: false
        in: path
        name: apiVersion
        required: true
        schema:
          default: v4
          enum:
          - v4
          - v4beta
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_account_200_response'
              x-example:
                x-ref: ../examples/get-account-200.json
          description: Returns a single Account object.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_account_default_response'
          description: "See [Errors](https://techdocs.akamai.com/linode-api/reference/errors)\
            \ for the range of possible error response codes."
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_only
      summary: Get your account
      tags:
      - Account
      x-akamai:
        tabs:
        - syntax: linode-cli account view
          title: CLI
          url: https://www.linode.com/docs/products/tools/cli/get-started/
        - syntax: account:read_only
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
      x-linode-cli-action: view
      x-linode-grant: read_only
    put:
      description: |-
        Updates contact and billing information related to your account. If you exclude any properties from the request, the operation leaves them unchanged.

        __Note__. When updating an account's `country` to `US`, you'll get an error if the account's `zip` is not a valid US zip code.

        __Parent and child accounts__

        In a [parent and child account](https://www.linode.com/docs/guides/parent-child-accounts/) environment, the following apply:

        - You can't change the `company` for a parent account. Akamai uses this value to set the name for a child account parent user (proxy user) on any child account.

        - Child account users can't run this operation. These users don't have access to billing-related operations.


        <<LB>>

        ---


        - __CLI__.

            ```
            linode-cli account update \
          --address_1 "123 Main St." \
          --address_2 "Suite 101" \
          --city Philadelphia \
          --company My Company \ LLC \
          --country US \
          --email jsmith@mycompany.com \
          --first_name John \
          --last_name Smith \
          --phone 555-555-1212 \
          --state PA \
          --tax_id ATU99999999 \
          --zip 19102
            ```

            [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)

        - __OAuth scopes__.

            ```
            account:read_write
            ```

            [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/put-account
      operationId: put-account
      parameters:
      - description: "__Enum__ Call either the `v4` URL, or `v4beta` for operations\
          \ still in Beta."
        explode: false
        in: path
        name: apiVersion
        required: true
        schema:
          default: v4
          enum:
          - v4
          - v4beta
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/get_account_200_response'
            x-example:
              x-ref: ../examples/put-account.json
        description: Updated contact and billing information.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_account_200_response'
              x-example:
                x-ref: ../examples/get-account-200.json
          description: The updated Account.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_account_default_response'
          description: "See [Errors](https://techdocs.akamai.com/linode-api/reference/errors)\
            \ for the range of possible error response codes."
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_write
      summary: Update your account
      tags:
      - Account
      x-akamai:
        tabs:
        - syntax: |-
            linode-cli account update \
              --address_1 "123 Main St." \
              --address_2 "Suite 101" \
              --city Philadelphia \
              --company My Company \ LLC \
              --country US \
              --email jsmith@mycompany.com \
              --first_name John \
              --last_name Smith \
              --phone 555-555-1212 \
              --state PA \
              --tax_id ATU99999999 \
              --zip 19102
          title: CLI
          url: https://www.linode.com/docs/products/tools/cli/get-started/
        - syntax: account:read_write
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
      x-linode-cli-action: update
      x-linode-grant: read_write
    x-akamai:
      path-info: "/{apiVersion}/account"
    x-linode-cli-command: account
  /{apiVersion}/account/agreements:
    get:
      description: |-
        Returns all agreements and their acceptance status for your account.


        <<LB>>

        ---


        - __OAuth scopes__.

            ```
            account:read_only
            ```

            [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-account-agreements
      operationId: get-account-agreements
      parameters:
      - description: "__Enum__ Call either the `v4` URL, or `v4beta` for operations\
          \ still in Beta."
        explode: false
        in: path
        name: apiVersion
        required: true
        schema:
          default: v4
          enum:
          - v4
          - v4beta
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_account_agreements_200_response'
              x-example:
                x-ref: ../examples/get-acceptance-agreement-200.json
          description: The status of each acceptance agreement for your account.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_account_default_response'
          description: "See [Errors](https://techdocs.akamai.com/linode-api/reference/errors)\
            \ for the range of possible error response codes."
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_only
      summary: List agreements
      tags:
      - Account
      x-akamai:
        tabs:
        - syntax: account:read_only
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
      x-linode-cli-action: agreements
      x-linode-cli-skip: true
      x-linode-grant: unrestricted only
    post:
      description: |-
        Accept required agreements by setting them to `true`. This remains until the content of the agreement changes. If it does, you need to run this operation again to accept it. If you set this to `false`, the API rejects the request and you need to open a [support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) to reset the agreement. Omitted agreements are left unchanged.


        <<LB>>

        ---


        - __OAuth scopes__.

            ```
            account:read_write
            ```

            [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/post-account-agreements
      operationId: post-account-agreements
      parameters:
      - description: "__Enum__ Call either the `v4` URL, or `v4beta` for operations\
          \ still in Beta."
        explode: false
        in: path
        name: apiVersion
        required: true
        schema:
          default: v4
          enum:
          - v4
          - v4beta
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/get_account_agreements_200_response'
            x-example:
              x-ref: ../examples/post-agreements.json
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: false
                description: The API responds with an empty object.
                maxProperties: 0
                type: object
              x-example:
                x-ref: ../examples/post-account-agreements-200.json
          description: Agreements updated successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_account_default_response'
          description: "See [Errors](https://techdocs.akamai.com/linode-api/reference/errors)\
            \ for the range of possible error response codes."
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_write
      summary: Acknowledge agreements
      tags:
      - Account
      x-akamai:
        tabs:
        - syntax: account:read_write
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
      x-linode-cli-action: post-agreements
      x-linode-cli-skip: true
      x-linode-grant: unrestricted only
    x-akamai:
      path-info: "/{apiVersion}/account/agreements"
    x-linode-cli-command: agreements
  /{apiVersion}/account/availability:
    get:
      description: |-
        Returns a paginated list of the services available to you, for all Linode regions.

        __Note__. Only authorized Users can run this operation.


        <<LB>>

        ---


        - __CLI__.

            ```
            linode-cli account get-availability
            ```

            [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)

        - __OAuth scopes__.

            ```
            account:read_only
            ```

            [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-availability
      operationId: get-availability
      parameters:
      - description: "__Enum__ Call either the `v4` URL, or `v4beta` for operations\
          \ still in Beta."
        explode: false
        in: path
        name: apiVersion
        required: true
        schema:
          default: v4
          enum:
          - v4
          - v4beta
          type: string
        style: simple
      - description: The page of a collection to return.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: The number of items to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 100
          maximum: 500
          minimum: 25
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_availability_200_response'
              x-example:
                x-ref: ../examples/get-availability-200.json
          description: List of regions and the services available in each.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_account_default_response'
          description: "See [Errors](https://techdocs.akamai.com/linode-api/reference/errors)\
            \ for the range of possible error response codes."
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_only
      servers:
      - url: https://api.linode.com/v4
      summary: List available services
      tags:
      - Account
      x-akamai:
        tabs:
        - syntax: linode-cli account get-availability
          title: CLI
          url: https://www.linode.com/docs/products/tools/cli/get-started/
        - syntax: account:read_only
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
      x-linode-cli-action: get-availability
      x-linode-grant: read_only
    x-akamai:
      path-info: "/{apiVersion}/account/availability"
    x-linode-cli-command: account
  /{apiVersion}/account/availability/{id}:
    get:
      description: |-
        View the available services for your account in a specific region.

        __Note__. Only authorized users can access this.


        <<LB>>

        ---


        - __CLI__.

            ```
            linode-cli account get-account-availability us-east
            ```

            [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)

        - __OAuth scopes__.

            ```
            account:read_only
            ```

            [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-account-availability
      operationId: get-account-availability
      parameters:
      - description: "__Enum__ Call either the `v4` URL, or `v4beta` for operations\
          \ still in Beta."
        explode: false
        in: path
        name: apiVersion
        required: true
        schema:
          default: v4
          enum:
          - v4
          - v4beta
          type: string
        style: simple
      - description: "The slug for the applicable data center. Run the [List regions](https://techdocs.akamai.com/linode-api/reference/get-regions)\
          \ operation to view the slug for each data center."
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_availability_200_response_allOf_data_inner'
              x-example:
                x-ref: ../examples/get-account-availability-200.json
          description: The services available in the specified region.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_account_default_response'
          description: "See [Errors](https://techdocs.akamai.com/linode-api/reference/errors)\
            \ for the range of possible error response codes."
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_only
      servers:
      - url: https://api.linode.com/v4
      summary: Get a region's service availability
      tags:
      - Account
      x-akamai:
        tabs:
        - syntax: linode-cli account get-account-availability us-east
          title: CLI
          url: https://www.linode.com/docs/products/tools/cli/get-started/
        - syntax: account:read_only
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
      x-linode-cli-action: get-account-availability
      x-linode-grant: read_only
    x-akamai:
      path-info: "/{apiVersion}/account/availability/{id}"
    x-linode-cli-command: account
  /{apiVersion}/account/betas:
    get:
      description: |-
        Display all enrolled Beta Programs for your Account. Includes inactive as well as active Beta Programs.

        Only unrestricted Users can access this operation.


        <<LB>>

        ---


        - __CLI__.

            ```
            linode-cli betas enrolled
            ```

            [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)

        - __OAuth scopes__.

            ```
            account:read_only
            ```

            [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-enrolled-beta-programs
      operationId: get-enrolled-beta-programs
      parameters:
      - description: "__Enum__ Call either the `v4` URL, or `v4beta` for operations\
          \ still in Beta."
        explode: false
        in: path
        name: apiVersion
        required: true
        schema:
          default: v4
          enum:
          - v4
          - v4beta
          type: string
        style: simple
      - description: The page of a collection to return.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: The number of items to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 100
          maximum: 500
          minimum: 25
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - description: This is an open public beta for an example feature.
                  ended: null
                  enrolled: 2023-09-11T00:00:00
                  id: example_open
                  label: Example Open Beta
                  started: 2023-07-11T00:00:00
                page: 1
                pages: 1
                results: 1
              schema:
                $ref: '#/components/schemas/get_enrolled_beta_programs_200_response'
          description: Returns a paginated list of all enrolled Beta Program objects
            for the Account.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_account_default_response'
          description: "See [Errors](https://techdocs.akamai.com/linode-api/reference/errors)\
            \ for the range of possible error response codes."
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_only
      servers:
      - url: https://api.linode.com/v4
      summary: List enrolled Beta programs
      tags:
      - Account
      x-akamai:
        tabs:
        - syntax: linode-cli betas enrolled
          title: CLI
          url: https://www.linode.com/docs/products/tools/cli/get-started/
        - syntax: account:read_only
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
      x-linode-cli-action: enrolled
      x-linode-grant: unrestricted only
    post:
      description: |-
        Enroll your Account in an active Beta Program.

        Only unrestricted Users can access this operation.

        To view active Beta Programs, run the [List beta programs](https://techdocs.akamai.com/linode-api/reference/get-beta-programs) operation.

        Active Beta Programs may have a limited number of enrollments. If a Beta Program has reached is maximum number of enrollments, an error is returned even though the request is successful.

        Beta Programs with `"greenlight_only": true` can only be enrolled by Accounts that participate in the [Greenlight](https://www.linode.com/green-light/) program.


        <<LB>>

        ---


        - __CLI__.

            ```
            linode-cli betas enroll --id example_open
            ```

            [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)

        - __OAuth scopes__.

            ```
            account:read_write
            ```

            [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/post-beta-program
      operationId: post-beta-program
      parameters:
      - description: "__Enum__ Call either the `v4` URL, or `v4beta` for operations\
          \ still in Beta."
        explode: false
        in: path
        name: apiVersion
        required: true
        schema:
          default: v4
          enum:
          - v4
          - v4beta
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_beta_program_request'
            x-example:
              x-ref: ../examples/post-beta-program.json
        description: Updated information for the Managed MySQL Database.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: false
                description: The API responds with an empty object.
                maxProperties: 0
                type: object
              x-example:
                x-ref: ../examples/post-beta-program-200.json
          description: Enrollment request successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_account_default_response'
          description: "See [Errors](https://techdocs.akamai.com/linode-api/reference/errors)\
            \ for the range of possible error response codes."
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_write
      servers:
      - url: https://api.linode.com/v4
      summary: Enroll in a Beta program
      tags:
      - Account
      x-akamai:
        tabs:
        - syntax: linode-cli betas enroll --id example_open
          title: CLI
          url: https://www.linode.com/docs/products/tools/cli/get-started/
        - syntax: account:read_write
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
      x-linode-cli-action: enroll
      x-linode-grant: unrestricted only
    x-akamai:
      path-info: "/{apiVersion}/account/betas"
    x-linode-cli-command: betas
  /{apiVersion}/account/betas/{betaId}:
    get:
      description: |-
        Display an enrolled Beta Program for your Account. The Beta Program may be inactive.

        Only unrestricted Users can access this operation.


        <<LB>>

        ---


        - __CLI__.

            ```
            linode-cli betas enrolled-view $betaId
            ```

            [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)

        - __OAuth scopes__.

            ```
            account:read_only
            ```

            [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-enrolled-beta-program
      operationId: get-enrolled-beta-program
      parameters:
      - description: "__Enum__ Call either the `v4` URL, or `v4beta` for operations\
          \ still in Beta."
        explode: false
        in: path
        name: apiVersion
        required: true
        schema:
          default: v4
          enum:
          - v4
          - v4beta
          type: string
        style: simple
      - description: The ID of the Beta Program.
        explode: false
        in: path
        name: betaId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_enrolled_beta_programs_200_response_allOf_data_inner'
              x-example:
                x-ref: ../examples/get-enrolled-beta-program-200.json
          description: Returns an enrolled Beta Program object for the Account.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_account_default_response'
          description: "See [Errors](https://techdocs.akamai.com/linode-api/reference/errors)\
            \ for the range of possible error response codes."
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_only
      servers:
      - url: https://api.linode.com/v4
      summary: Get an enrolled Beta program
      tags:
      - Account
      x-akamai:
        tabs:
        - syntax: linode-cli betas enrolled-view $betaId
          title: CLI
          url: https://www.linode.com/docs/products/tools/cli/get-started/
        - syntax: account:read_only
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
      x-linode-cli-action: enrolled-view
      x-linode-grant: unrestricted only
    x-akamai:
      path-info: "/{apiVersion}/account/betas/{betaId}"
    x-linode-cli-command: betas
  /{apiVersion}/account/cancel:
    post:
      description: |-
        Cancels an active Linode account. Akamai attempts to charge the credit card on file for any remaining balance. An error occurs if this charge fails.

        __Note__. This operation can only be accessed by account users with _unrestricted_ access.

        __Parent and child accounts__ In a [parent and child account](https://www.linode.com/docs/guides/parent-child-accounts/) environment, the following apply:

        - A child account user can't cancel a child account.
        - You can't cancel a parent account if it has an active child account.
        - You need to work with your Akamai account team to dissolve any parent-child account relationships before you can fully cancel a child or parent account.


        <<LB>>

        ---


        - __CLI__.

            ```
            linode-cli account cancel \
          --comments "I'm consolidating my accounts"
            ```

            [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)

        - __OAuth scopes__.

            ```
            account:read_write
            ```

            [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/post-cancel-account
      operationId: post-cancel-account
      parameters:
      - description: "__Enum__ Call either the `v4` URL, or `v4beta` for operations\
          \ still in Beta."
        explode: false
        in: path
        name: apiVersion
        required: true
        schema:
          default: v4
          enum:
          - v4
          - v4beta
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_cancel_account_request'
            x-example:
              x-ref: ../examples/post-cancel-account.json
        description: Supply a comment stating the reason that you are cancelling your
          account.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/post_cancel_account_200_response'
              x-example:
                x-ref: ../examples/post-cancel-account-200.json
          description: Account canceled.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/post_cancel_account_409_response'
              x-example:
                x-ref: ../examples/tbd.json
          description: Could not charge the credit card on file.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_account_default_response'
          description: "See [Errors](https://techdocs.akamai.com/linode-api/reference/errors)\
            \ for the range of possible error response codes."
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_write
      summary: Cancel your account
      tags:
      - Account
      x-akamai:
        tabs:
        - syntax: |-
            linode-cli account cancel \
              --comments "I'm consolidating my accounts"
          title: CLI
          url: https://www.linode.com/docs/products/tools/cli/get-started/
        - syntax: account:read_write
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
      x-linode-cli-action: cancel
      x-linode-grant: read_write
    x-akamai:
      path-info: "/{apiVersion}/account/cancel"
    x-linode-cli-command: account
  /{apiVersion}/account/child-accounts:
    get:
      description: |-
        Returns a paginated list of basic information for the child accounts that exist for your parent account. See [Parent and Child Accounts for Akamai Partners](https://www.linode.com/docs/guides/parent-child-accounts/) for details on these accounts.

        __Note__. This operation can only be accessed by an unrestricted parent user, or restricted parent user with the `child_account_access` grant.


        <<LB>>

        ---


        - __CLI__.

            ```
            linode-cli child-account list
            ```

            [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)

        - __OAuth scopes__.

            ```
            child_account:read_only
            ```

            [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-child-accounts
      operationId: get-child-accounts
      parameters:
      - description: "__Enum__ Call either the `v4` URL, or `v4beta` for operations\
          \ still in Beta."
        explode: false
        in: path
        name: apiVersion
        required: true
        schema:
          default: v4
          enum:
          - v4
          - v4beta
          type: string
        style: simple
      - description: The page of a collection to return.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: The number of items to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 100
          maximum: 500
          minimum: 25
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_child_accounts_200_response'
              x-example:
                x-ref: ../examples/get-child-accounts-200.json
          description: Returns child-level accounts.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_account_default_response'
          description: "See [Errors](https://techdocs.akamai.com/linode-api/reference/errors)\
            \ for the range of possible error response codes."
      security:
      - personalAccessToken: []
      - oauth:
        - child_account:read_only
      summary: List child accounts
      tags:
      - Account
      x-akamai:
        tabs:
        - syntax: linode-cli child-account list
          title: CLI
          url: https://www.linode.com/docs/products/tools/cli/get-started/
        - syntax: child_account:read_only
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
      x-linode-cli-action:
      - list
      - ls
      x-linode-grant: child_account_access
    x-akamai:
      path-info: "/{apiVersion}/account/child-accounts"
    x-linode-cli-command: child-account
  /{apiVersion}/account/child-accounts/{euuid}:
    get:
      description: |-
        View a specific child account based on its `euuid`. See [Parent and Child Accounts for Akamai Partners](https://www.linode.com/docs/guides/parent-child-accounts/) for details on these accounts.

        __Note__. This operation can only be accessed by an unrestricted user, or restricted user with the `child_account_access` grant.


        <<LB>>

        ---


        - __CLI__.

            ```
            linode-cli child-account view A1BC2DEF-34GH-567I-J890KLMN12O34P56
            ```

            [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)

        - __OAuth scopes__.

            ```
            child_account:read_only
            ```

            [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-child-account
      operationId: get-child-account
      parameters:
      - description: "__Enum__ Call either the `v4` URL, or `v4beta` for operations\
          \ still in Beta."
        explode: false
        in: path
        name: apiVersion
        required: true
        schema:
          default: v4
          enum:
          - v4
          - v4beta
          type: string
        style: simple
      - description: "The child account to look up. You can run the [List child accounts](https://techdocs.akamai.com/linode-api/reference/get-child-accounts)\
          \ operation to find the applicable account and store its `euuid`."
        explode: false
        in: path
        name: euuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_child_accounts_200_response_data_inner'
              x-example:
                x-ref: ../examples/get-child-account-200.json
          description: Returns the child-level account for a specified `euuid`.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_account_default_response'
          description: "See [Errors](https://techdocs.akamai.com/linode-api/reference/errors)\
            \ for the range of possible error response codes."
      security:
      - personalAccessToken: []
      - oauth:
        - child_account:read_only
      summary: Get a child account
      tags:
      - Account
      x-akamai:
        tabs:
        - syntax: linode-cli child-account view A1BC2DEF-34GH-567I-J890KLMN12O34P56
          title: CLI
          url: https://www.linode.com/docs/products/tools/cli/get-started/
        - syntax: child_account:read_only
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
      x-linode-cli-action:
      - view
      x-linode-grant: child_account_access
    x-akamai:
      path-info: "/{apiVersion}/account/child-accounts/{euuid}"
    x-linode-cli-command: child-account
  /{apiVersion}/account/child-accounts/{euuid}/token:
    post:
      description: |-
        Create a short-lived bearer token for a parent user on a child account, using the `euuid` of that child account. In the context of the API, a parent user on a child account is referred to as a "proxy user." When Akamai provisions your parent-child account environment, a proxy user is automatically set in the child account. It follows a specific naming convention:

            <Parent account `company` name>_<SHA256 hash of parent `company` name and child account `euuid`>

        __Note__. The variables above use only the first 15 and 16 characters of these values, respectively.

        The token lets a parent account run API operations through the proxy user, as if they are a child user in the child account.

        These points apply to the use of this operation:

        - To create a token, a parent account user needs the `child_account_access` grant. This lets them use the proxy user on the child account. You can run [List a user's grants](https://techdocs.akamai.com/linode-api/reference/get-user-grants) on a parent account user to check its `child_account_access` setting. To add this access, you can [update](https://techdocs.akamai.com/linode-api/reference/put-user-grants) the parent account user.

        - The created token inherits the permissions of the proxy user. It will never have less.

        - The API returns the raw token in the response. You can't get it again, so be sure to store it.

        Example workflow:

        1. [List child accounts](https://techdocs.akamai.com/linode-api/reference/get-child-accounts) and store the `euuid` for the applicable one.
        2. Run this operation and store the `token` that's created for the proxy user.
        3. As a parent account user with access to the proxy user in the child account, use this `token` to authenticate API operations, as if you were a child user.


        <<LB>>

        ---


        - __CLI__.

            ```
            linode-cli child-account create A1BC2DEF-34GH-567I-J890KLMN12O34P56
            ```

            [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)

        - __OAuth scopes__.

            ```
            child_account:read_write
            ```

            [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/post-child-account-token
      operationId: post-child-account-token
      parameters:
      - description: "__Enum__ Call either the `v4` URL, or `v4beta` for operations\
          \ still in Beta."
        explode: false
        in: path
        name: apiVersion
        required: true
        schema:
          default: v4
          enum:
          - v4
          - v4beta
          type: string
        style: simple
      - description: "The child account to look up. You can run the [List child accounts](https://techdocs.akamai.com/linode-api/reference/get-child-accounts)\
          \ operation to find the applicable account and store its `euuid`."
        explode: false
        in: path
        name: euuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/post_child_account_token_200_response'
              x-example:
                x-ref: ../examples/post-child-account-token-200.json
          description: Token created successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_account_default_response'
          description: "See [Errors](https://techdocs.akamai.com/linode-api/reference/errors)\
            \ for the range of possible error response codes."
      security:
      - personalAccessToken: []
      - oauth:
        - child_account:read_write
      summary: Create a proxy user token
      tags:
      - Account
      x-akamai:
        tabs:
        - syntax: linode-cli child-account create A1BC2DEF-34GH-567I-J890KLMN12O34P56
          title: CLI
          url: https://www.linode.com/docs/products/tools/cli/get-started/
        - syntax: child_account:read_write
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
      x-linode-cli-action:
      - create
      x-linode-grant: child_account_access
    x-akamai:
      path-info: "/{apiVersion}/account/child-accounts/{euuid}/token"
    x-linode-cli-command: child-account
  /{apiVersion}/account/credit-card:
    post:
      deprecated: true
      description: |-
        __Deprecated__ Please run [Add a payment method](https://techdocs.akamai.com/linode-api/reference/post-payment-method).

        Adds a credit card Payment Method to your account and sets it as the default method.


        <<LB>>

        ---


        - __OAuth scopes__.

            ```
            account:read_write
            ```

            [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/post-credit-card
      operationId: post-credit-card
      parameters:
      - description: "__Enum__ Call either the `v4` URL, or `v4beta` for operations\
          \ still in Beta."
        explode: false
        in: path
        name: apiVersion
        required: true
        schema:
          default: v4
          enum:
          - v4
          - v4beta
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_credit_card_request'
            x-example:
              x-ref: ../examples/post-credit-card.json
        description: Update the credit card information associated with your Account.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: false
                description: The API responds with an empty object.
                maxProperties: 0
                type: object
              x-example:
                x-ref: ../examples/post-credit-card-200.json
          description: Credit Card updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_account_default_response'
          description: "See [Errors](https://techdocs.akamai.com/linode-api/reference/errors)\
            \ for the range of possible error response codes."
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_write
      summary: Add or edit a credit card
      tags:
      - Account
      x-akamai:
        status: DEPRECATED
        tabs:
        - syntax: account:read_write
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
      x-linode-cli-action: update-card
      x-linode-cli-skip: true
      x-linode-grant: read_write
    x-akamai:
      path-info: "/{apiVersion}/account/credit-card"
    x-linode-cli-command: account
  /{apiVersion}/account/entity-transfers:
    get:
      deprecated: true
      description: |-
        __Deprecated__ Please run [List service transfers](https://techdocs.akamai.com/linode-api/reference/get-service-transfers).


        <<LB>>

        ---


        - __OAuth scopes__.

            ```
            account:read_only
            ```

            [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-entity-transfers
      operationId: get-entity-transfers
      parameters:
      - description: "__Enum__ Call either the `v4` URL, or `v4beta` for operations\
          \ still in Beta."
        explode: false
        in: path
        name: apiVersion
        required: true
        schema:
          default: v4
          enum:
          - v4
          - v4beta
          type: string
        style: simple
      - description: The page of a collection to return.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: The number of items to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 100
          maximum: 500
          minimum: 25
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_entity_transfers_200_response'
              x-example:
                x-ref: ../examples/get-entity-transfers-200.json
          description: Returns a paginated list of Entity Transfer objects containing
            the details of all transfers that have been created and accepted by this
            account.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_account_default_response'
          description: "See [Errors](https://techdocs.akamai.com/linode-api/reference/errors)\
            \ for the range of possible error response codes."
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_only
      summary: List entity transfers
      tags:
      - Account
      x-akamai:
        status: DEPRECATED
        tabs:
        - syntax: account:read_only
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
      x-linode-cli-skip: true
      x-linode-grant: unrestricted only
    post:
      deprecated: true
      description: |-
        __Deprecated__ Please run [Request a service transfer](https://techdocs.akamai.com/linode-api/reference/post-service-transfer).


        <<LB>>

        ---


        - __OAuth scopes__.

            ```
            account:read_write
            ```

            [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/post-entity-transfer
      operationId: post-entity-transfer
      parameters:
      - description: "__Enum__ Call either the `v4` URL, or `v4beta` for operations\
          \ still in Beta."
        explode: false
        in: path
        name: apiVersion
        required: true
        schema:
          default: v4
          enum:
          - v4
          - v4beta
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_entity_transfer_request'
            x-example:
              x-ref: ../examples/post-entity-transfer.json
        description: The entities to include in this transfer request.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_entity_transfers_200_response_allOf_data_inner'
              x-example:
                x-ref: ../examples/post-entity-transfer-200.json
          description: Returns an Entity Transfer object for the request.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_account_default_response'
          description: "See [Errors](https://techdocs.akamai.com/linode-api/reference/errors)\
            \ for the range of possible error response codes."
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_write
      summary: Create an entity transfer
      tags:
      - Account
      x-akamai:
        status: DEPRECATED
        tabs:
        - syntax: account:read_write
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
      x-linode-cli-skip: true
      x-linode-grant: unrestricted only
    x-akamai:
      path-info: "/{apiVersion}/account/entity-transfers"
  /{apiVersion}/account/entity-transfers/{token}:
    delete:
      deprecated: true
      description: |-
        __Deprecated__ Please run [Cancel a service transfer](https://techdocs.akamai.com/linode-api/reference/delete-service-transfer).


        <<LB>>

        ---


        - __OAuth scopes__.

            ```
            account:read_write
            ```

            [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/delete-entity-transfer
      operationId: delete-entity-transfer
      parameters:
      - description: "__Enum__ Call either the `v4` URL, or `v4beta` for operations\
          \ still in Beta."
        explode: false
        in: path
        name: apiVersion
        required: true
        schema:
          default: v4
          enum:
          - v4
          - v4beta
          type: string
        style: simple
      - description: The UUID of the Entity Transfer.
        explode: false
        in: path
        name: token
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: false
                description: The API responds with an empty object.
                maxProperties: 0
                type: object
              x-example:
                x-ref: ../examples/delete-entity-transfer-200.json
          description: Entity Transfer canceled.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_account_default_response'
          description: "See [Errors](https://techdocs.akamai.com/linode-api/reference/errors)\
            \ for the range of possible error response codes."
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_write
      summary: Cancel an entity transfer
      tags:
      - Account
      x-akamai:
        status: DEPRECATED
        tabs:
        - syntax: account:read_write
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
      x-linode-cli-skip: true
      x-linode-grant: unrestricted only
    get:
      deprecated: true
      description: |-
        __Deprecated__ Please run [Get a service transfer request](https://techdocs.akamai.com/linode-api/reference/get-service-transfer).


        <<LB>>

        ---


        - __OAuth scopes__.

            ```
            account:read_only
            ```

            [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-entity-transfer
      operationId: get-entity-transfer
      parameters:
      - description: "__Enum__ Call either the `v4` URL, or `v4beta` for operations\
          \ still in Beta."
        explode: false
        in: path
        name: apiVersion
        required: true
        schema:
          default: v4
          enum:
          - v4
          - v4beta
          type: string
        style: simple
      - description: The UUID of the Entity Transfer.
        explode: false
        in: path
        name: token
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_entity_transfers_200_response_allOf_data_inner'
              x-example:
                x-ref: ../examples/get-entity-transfer-200.json
          description: Returns an Entity Transfer object containing the details of
            the transfer for the specified token.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_account_default_response'
          description: "See [Errors](https://techdocs.akamai.com/linode-api/reference/errors)\
            \ for the range of possible error response codes."
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_only
      summary: Get an entity transfer
      tags:
      - Account
      x-akamai:
        status: DEPRECATED
        tabs:
        - syntax: account:read_only
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
      x-linode-cli-skip: true
      x-linode-grant: unrestricted only
    x-akamai:
      path-info: "/{apiVersion}/account/entity-transfers/{token}"
  /{apiVersion}/account/entity-transfers/{token}/accept:
    post:
      deprecated: true
      description: |-
        __Deprecated__ Please run [Accept a service transfer](https://techdocs.akamai.com/linode-api/reference/post-accept-service-transfer).


        <<LB>>

        ---


        - __OAuth scopes__.

            ```
            account:read_write
            ```

            [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/post-accept-entity-transfer
      operationId: post-accept-entity-transfer
      parameters:
      - description: "__Enum__ Call either the `v4` URL, or `v4beta` for operations\
          \ still in Beta."
        explode: false
        in: path
        name: apiVersion
        required: true
        schema:
          default: v4
          enum:
          - v4
          - v4beta
          type: string
        style: simple
      - description: The UUID of the Entity Transfer.
        explode: false
        in: path
        name: token
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: false
                description: The API responds with an empty object.
                maxProperties: 0
                type: object
              x-example:
                x-ref: ../examples/post-accept-entity-transfer-200.json
          description: Entity Transfer accepted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_account_default_response'
          description: "See [Errors](https://techdocs.akamai.com/linode-api/reference/errors)\
            \ for the range of possible error response codes."
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_write
      summary: Accept an entity transfer
      tags:
      - Account
      x-akamai:
        status: DEPRECATED
        tabs:
        - syntax: account:read_write
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
      x-linode-cli-skip: true
      x-linode-grant: unrestricted only
    x-akamai:
      path-info: "/{apiVersion}/account/entity-transfers/{token}/accept"
  /{apiVersion}/account/events:
    get:
      description: |-
        Returns a collection of Event objects representing actions taken on your Account from the last 90 days. The Events returned depend on your grants.


        <<LB>>

        ---


        - __CLI__.

            ```
            linode-cli events list
            ```

            [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)

        - __OAuth scopes__.

            ```
            events:read_only
            ```

            [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-events
      operationId: get-events
      parameters:
      - description: "__Enum__ Call either the `v4` URL, or `v4beta` for operations\
          \ still in Beta."
        explode: false
        in: path
        name: apiVersion
        required: true
        schema:
          default: v4
          enum:
          - v4
          - v4beta
          type: string
        style: simple
      - description: The page of a collection to return.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: The number of items to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 100
          maximum: 500
          minimum: 25
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_events_200_response'
              x-example:
                x-ref: ../examples/get-events-200.json
          description: Returns a paginated lists of Event objects from the last 90
            days.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_account_default_response'
          description: "See [Errors](https://techdocs.akamai.com/linode-api/reference/errors)\
            \ for the range of possible error response codes."
      security:
      - personalAccessToken: []
      - oauth:
        - events:read_only
      summary: List events
      tags:
      - Account
      x-akamai:
        tabs:
        - syntax: linode-cli events list
          title: CLI
          url: https://www.linode.com/docs/products/tools/cli/get-started/
        - syntax: events:read_only
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
      x-linode-cli-action:
      - list
      - ls
      x-linode-grant: read_only
    x-akamai:
      path-info: "/{apiVersion}/account/events"
    x-linode-cli-command: events
  /{apiVersion}/account/events/{eventId}:
    get:
      description: |-
        Returns a single Event object.


        <<LB>>

        ---


        - __CLI__.

            ```
            linode-cli events view 123
            ```

            [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)

        - __OAuth scopes__.

            ```
            events:read_only
            ```

            [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-event
      operationId: get-event
      parameters:
      - description: "__Enum__ Call either the `v4` URL, or `v4beta` for operations\
          \ still in Beta."
        explode: false
        in: path
        name: apiVersion
        required: true
        schema:
          default: v4
          enum:
          - v4
          - v4beta
          type: string
        style: simple
      - description: The ID of the Event.
        explode: false
        in: path
        name: eventId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_events_200_response_data_inner'
              x-example:
                x-ref: ../examples/get-event-200.json
          description: An Event object.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_account_default_response'
          description: "See [Errors](https://techdocs.akamai.com/linode-api/reference/errors)\
            \ for the range of possible error response codes."
      security:
      - personalAccessToken: []
      - oauth:
        - events:read_only
      summary: Get an event
      tags:
      - Account
      x-akamai:
        tabs:
        - syntax: linode-cli events view 123
          title: CLI
          url: https://www.linode.com/docs/products/tools/cli/get-started/
        - syntax: events:read_only
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
      x-linode-cli-action: view
      x-linode-grant: read_only
    x-akamai:
      path-info: "/{apiVersion}/account/events/{eventId}"
    x-linode-cli-command: events
  /{apiVersion}/account/events/{eventId}/read:
    post:
      description: |-
        Marks a single Event as read.


        <<LB>>

        ---


        - __CLI__.

            ```
            linode-cli events mark-read 123
            ```

            [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)

        - __OAuth scopes__.

            ```
            events:read_only
            ```

            [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/post-event-read
      operationId: post-event-read
      parameters:
      - description: "__Enum__ Call either the `v4` URL, or `v4beta` for operations\
          \ still in Beta."
        explode: false
        in: path
        name: apiVersion
        required: true
        schema:
          default: v4
          enum:
          - v4
          - v4beta
          type: string
        style: simple
      - description: The ID of the Event to designate as read.
        explode: false
        in: path
        name: eventId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: false
                description: The API responds with an empty object.
                maxProperties: 0
                type: object
              x-example:
                x-ref: ../examples/post-event-read-200.json
          description: Event read.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_account_default_response'
          description: "See [Errors](https://techdocs.akamai.com/linode-api/reference/errors)\
            \ for the range of possible error response codes."
      security:
      - personalAccessToken: []
      - oauth:
        - events:read_only
      summary: Mark an event as read
      tags:
      - Account
      x-akamai:
        tabs:
        - syntax: linode-cli events mark-read 123
          title: CLI
          url: https://www.linode.com/docs/products/tools/cli/get-started/
        - syntax: events:read_only
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
      x-linode-cli-action: mark-read
      x-linode-grant: read_only
    x-akamai:
      path-info: "/{apiVersion}/account/events/{eventId}/read"
    x-linode-cli-command: events
  /{apiVersion}/account/events/{eventId}/seen:
    post:
      description: |-
        Marks all Events up to and including this Event by ID as seen.


        <<LB>>

        ---


        - __CLI__.

            ```
            linode-cli events mark-seen 123
            ```

            [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)

        - __OAuth scopes__.

            ```
            events:read_only
            ```

            [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/post-event-seen
      operationId: post-event-seen
      parameters:
      - description: "__Enum__ Call either the `v4` URL, or `v4beta` for operations\
          \ still in Beta."
        explode: false
        in: path
        name: apiVersion
        required: true
        schema:
          default: v4
          enum:
          - v4
          - v4beta
          type: string
        style: simple
      - description: The ID of the Event to designate as seen.
        explode: false
        in: path
        name: eventId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: false
                description: The API responds with an empty object.
                maxProperties: 0
                type: object
              x-example:
                x-ref: ../examples/post-event-seen-200.json
          description: Events seen.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_account_default_response'
          description: "See [Errors](https://techdocs.akamai.com/linode-api/reference/errors)\
            \ for the range of possible error response codes."
      security:
      - personalAccessToken: []
      - oauth:
        - events:read_only
      summary: Mark an event as seen
      tags:
      - Account
      x-akamai:
        tabs:
        - syntax: linode-cli events mark-seen 123
          title: CLI
          url: https://www.linode.com/docs/products/tools/cli/get-started/
        - syntax: events:read_only
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
      x-linode-cli-action: mark-seen
      x-linode-grant: read_write
    x-akamai:
      path-info: "/{apiVersion}/account/events/{eventId}/seen"
    x-linode-cli-command: events
  /{apiVersion}/account/invoices:
    get:
      description: |-
        Returns a paginated list of Invoices against your Account.


        <<LB>>

        ---


        - __CLI__.

            ```
            linode-cli account invoices-list
            ```

            [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)

        - __OAuth scopes__.

            ```
            account:read_only
            ```

            [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-invoices
      operationId: get-invoices
      parameters:
      - description: "__Enum__ Call either the `v4` URL, or `v4beta` for operations\
          \ still in Beta."
        explode: false
        in: path
        name: apiVersion
        required: true
        schema:
          default: v4
          enum:
          - v4
          - v4beta
          type: string
        style: simple
      - description: The page of a collection to return.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: The number of items to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 100
          maximum: 500
          minimum: 25
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_invoices_200_response'
              x-example:
                x-ref: ../examples/get-invoices-200.json
          description: Returns a paginated list of Invoice objects.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_account_default_response'
          description: "See [Errors](https://techdocs.akamai.com/linode-api/reference/errors)\
            \ for the range of possible error response codes."
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_only
      summary: List invoices
      tags:
      - Account
      x-akamai:
        tabs:
        - syntax: linode-cli account invoices-list
          title: CLI
          url: https://www.linode.com/docs/products/tools/cli/get-started/
        - syntax: account:read_only
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
      x-linode-cli-action: invoices-list
      x-linode-grant: read_only
    x-akamai:
      path-info: "/{apiVersion}/account/invoices"
    x-linode-cli-command: account
  /{apiVersion}/account/invoices/{invoiceId}:
    get:
      description: |-
        Returns a single Invoice object.


        <<LB>>

        ---


        - __CLI__.

            ```
            linode-cli account invoice-view 123
            ```

            [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)

        - __OAuth scopes__.

            ```
            account:read_only
            ```

            [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-invoice
      operationId: get-invoice
      parameters:
      - description: "__Enum__ Call either the `v4` URL, or `v4beta` for operations\
          \ still in Beta."
        explode: false
        in: path
        name: apiVersion
        required: true
        schema:
          default: v4
          enum:
          - v4
          - v4beta
          type: string
        style: simple
      - description: The ID of the Invoice.
        explode: false
        in: path
        name: invoiceId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_invoices_200_response_data_inner'
              x-example:
                x-ref: ../examples/get-invoice-200.json
          description: An Invoice object.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_account_default_response'
          description: "See [Errors](https://techdocs.akamai.com/linode-api/reference/errors)\
            \ for the range of possible error response codes."
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_only
      summary: Get an invoice
      tags:
      - Account
      x-akamai:
        tabs:
        - syntax: linode-cli account invoice-view 123
          title: CLI
          url: https://www.linode.com/docs/products/tools/cli/get-started/
        - syntax: account:read_only
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
      x-linode-cli-action: invoice-view
      x-linode-grant: read_only
    x-akamai:
      path-info: "/{apiVersion}/account/invoices/{invoiceId}"
    x-linode-cli-command: account
  /{apiVersion}/account/invoices/{invoiceId}/items:
    get:
      description: |-
        Returns a paginated list of Invoice items.


        <<LB>>

        ---


        - __CLI__.

            ```
            linode-cli account invoice-items 123
            ```

            [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)

        - __OAuth scopes__.

            ```
            account:read_only
            ```

            [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-invoice-items
      operationId: get-invoice-items
      parameters:
      - description: "__Enum__ Call either the `v4` URL, or `v4beta` for operations\
          \ still in Beta."
        explode: false
        in: path
        name: apiVersion
        required: true
        schema:
          default: v4
          enum:
          - v4
          - v4beta
          type: string
        style: simple
      - description: The ID of the Invoice.
        explode: false
        in: path
        name: invoiceId
        required: true
        schema:
          type: integer
        style: simple
      - description: The page of a collection to return.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: The number of items to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 100
          maximum: 500
          minimum: 25
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_invoice_items_200_response'
              x-example:
                x-ref: ../examples/get-invoice-items-200.json
          description: A paginated list of InvoiceItem objects.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_account_default_response'
          description: "See [Errors](https://techdocs.akamai.com/linode-api/reference/errors)\
            \ for the range of possible error response codes."
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_only
      summary: List invoice items
      tags:
      - Account
      x-akamai:
        tabs:
        - syntax: linode-cli account invoice-items 123
          title: CLI
          url: https://www.linode.com/docs/products/tools/cli/get-started/
        - syntax: account:read_only
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
      x-linode-cli-action: invoice-items
      x-linode-grant: read_only
    x-akamai:
      path-info: "/{apiVersion}/account/invoices/{invoiceId}/items"
    x-linode-cli-command: account
  /{apiVersion}/account/logins:
    get:
      description: |-
        Returns a collection of successful logins for all users on the account during the last 90 days. This operation can only be accessed by the unrestricted users of an account.


        <<LB>>

        ---


        - __CLI__.

            ```
            linode-cli account logins-list
            ```

            [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)

        - __OAuth scopes__.

            ```
            account:read_only
            ```

            [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-account-logins
      operationId: get-account-logins
      parameters:
      - description: "__Enum__ Call either the `v4` URL, or `v4beta` for operations\
          \ still in Beta."
        explode: false
        in: path
        name: apiVersion
        required: true
        schema:
          default: v4
          enum:
          - v4
          - v4beta
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_account_logins_200_response'
              x-example:
                x-ref: ../examples/get-account-logins-200.json
          description: A collection of successful logins for all users on the account
            during the last 90 days.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_account_default_response'
          description: "See [Errors](https://techdocs.akamai.com/linode-api/reference/errors)\
            \ for the range of possible error response codes."
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_only
      summary: List user logins
      tags:
      - Account
      x-akamai:
        tabs:
        - syntax: linode-cli account logins-list
          title: CLI
          url: https://www.linode.com/docs/products/tools/cli/get-started/
        - syntax: account:read_only
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
      x-linode-cli-action: logins-list
    x-akamai:
      path-info: "/{apiVersion}/account/logins"
    x-linode-cli-command: account
  /{apiVersion}/account/logins/{loginId}:
    get:
      description: |-
        Returns a Login object that displays information about a successful login. The logins that can be viewed can be for any user on the account, and are not limited to only the logins of the user that is accessing this API endpoint. This operation can only be accessed by the unrestricted users of the account.


        <<LB>>

        ---


        - __CLI__.

            ```
            linode-cli account login-view 1234
            ```

            [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)

        - __OAuth scopes__.

            ```
            account:read_only
            ```

            [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-account-login
      operationId: get-account-login
      parameters:
      - description: "__Enum__ Call either the `v4` URL, or `v4beta` for operations\
          \ still in Beta."
        explode: false
        in: path
        name: apiVersion
        required: true
        schema:
          default: v4
          enum:
          - v4
          - v4beta
          type: string
        style: simple
      - description: The ID of the login object to access.
        explode: false
        in: path
        name: loginId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_account_logins_200_response_data_inner'
              x-example:
                x-ref: ../examples/get-account-login-200.json
          description: The requested login object.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_account_default_response'
          description: "See [Errors](https://techdocs.akamai.com/linode-api/reference/errors)\
            \ for the range of possible error response codes."
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_only
      summary: Get an account login
      tags:
      - Account
      x-akamai:
        tabs:
        - syntax: linode-cli account login-view 1234
          title: CLI
          url: https://www.linode.com/docs/products/tools/cli/get-started/
        - syntax: account:read_only
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
      x-linode-cli-action: login-view
    x-akamai:
      path-info: "/{apiVersion}/account/logins/{loginId}"
    x-linode-cli-command: account
  /{apiVersion}/account/maintenance:
    get:
      description: |-
        Returns a collection of Maintenance objects for any entity a user has permissions to view. Canceled Maintenance objects are not returned.

        Currently, Linodes are the only entities available for viewing.


        <<LB>>

        ---


        - __CLI__.

            ```
            linode-cli account maintenance-list
            ```

            [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-maintenance
      operationId: get-maintenance
      parameters:
      - description: "__Enum__ Call either the `v4` URL, or `v4beta` for operations\
          \ still in Beta."
        explode: false
        in: path
        name: apiVersion
        required: true
        schema:
          default: v4
          enum:
          - v4
          - v4beta
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_maintenance_200_response'
              x-example:
                x-ref: ../examples/get-maintenance-200.json
          description: Returns a paginated list of Maintenance objects.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_account_default_response'
          description: "See [Errors](https://techdocs.akamai.com/linode-api/reference/errors)\
            \ for the range of possible error response codes."
      security:
      - personalAccessToken: []
      - oauth: []
      servers:
      - url: https://api.linode.com/v4
      - url: https://api.linode.com/v4beta
      summary: List maintenances
      tags:
      - Account
      x-akamai:
        tabs:
        - syntax: linode-cli account maintenance-list
          title: CLI
          url: https://www.linode.com/docs/products/tools/cli/get-started/
      x-linode-cli-action: maintenance-list
      x-linode-grant: read_only
    x-akamai:
      path-info: "/{apiVersion}/account/maintenance"
    x-linode-cli-command: account
  /{apiVersion}/account/notifications:
    get:
      description: |-
        Returns a collection of notification objects that represent important, often time-sensitive details about your account. You can't interact directly with notifications, and a notification disappears when the circumstances that caused it have been resolved. For example, if you have an important ticket open, you can respond to that ticket to dismiss its notification.


        <<LB>>

        ---


        - __CLI__.

            ```
            linode-cli account notifications-list
            ```

            [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)

        - __OAuth scopes__.

            ```
            account:read_only
            ```

            [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-notifications
      operationId: get-notifications
      parameters:
      - description: "__Enum__ Call either the `v4` URL, or `v4beta` for operations\
          \ still in Beta."
        explode: false
        in: path
        name: apiVersion
        required: true
        schema:
          default: v4
          enum:
          - v4
          - v4beta
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_notifications_200_response'
              x-example:
                x-ref: ../examples/get-notifications-200.json
          description: Returns a paginated list of notification objects.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_account_default_response'
          description: "See [Errors](https://techdocs.akamai.com/linode-api/reference/errors)\
            \ for the range of possible error response codes."
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_only
      summary: List notifications
      tags:
      - Account
      x-akamai:
        tabs:
        - syntax: linode-cli account notifications-list
          title: CLI
          url: https://www.linode.com/docs/products/tools/cli/get-started/
        - syntax: account:read_only
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
      x-linode-cli-action: notifications-list
      x-linode-grant: read_only
    x-akamai:
      path-info: "/{apiVersion}/account/notifications"
    x-linode-cli-command: account
  /{apiVersion}/account/oauth-clients:
    get:
      description: |-
        Returns a paginated list of OAuth Clients registered to your Account.  OAuth Clients allow users to log into applications you write or host using their Linode Account, and may allow them to grant some level of access to their Linodes or other entities to your application.


        <<LB>>

        ---


        - __CLI__.

            ```
            linode-cli account clients-list
            ```

            [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)

        - __OAuth scopes__.

            ```
            account:read_only
            ```

            [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-clients
      operationId: get-clients
      parameters:
      - description: "__Enum__ Call either the `v4` URL, or `v4beta` for operations\
          \ still in Beta."
        explode: false
        in: path
        name: apiVersion
        required: true
        schema:
          default: v4
          enum:
          - v4
          - v4beta
          type: string
        style: simple
      - description: The page of a collection to return.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: The number of items to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 100
          maximum: 500
          minimum: 25
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_clients_200_response'
              x-example:
                x-ref: ../examples/get-clients-200.json
          description: A paginated list of OAuth Clients.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_account_default_response'
          description: "See [Errors](https://techdocs.akamai.com/linode-api/reference/errors)\
            \ for the range of possible error response codes."
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_only
      summary: List OAuth clients
      tags:
      - Account
      x-akamai:
        tabs:
        - syntax: linode-cli account clients-list
          title: CLI
          url: https://www.linode.com/docs/products/tools/cli/get-started/
        - syntax: account:read_only
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
      x-linode-cli-action: clients-list
      x-linode-grant: read_only
    post:
      description: |-
        Creates an OAuth Client, which can be used to allow users (using their Linode account) to log in to your own application, and optionally grant your application some amount of access to their Linodes or other entities.


        <<LB>>

        ---


        - __CLI__.

            ```
            linode-cli account client-create \
          --label Test_Client_1 \
          --redirect_uri https://example.org/callback
            ```

            [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)

        - __OAuth scopes__.

            ```
            account:read_write
            ```

            [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/post-client
      operationId: post-client
      parameters:
      - description: "__Enum__ Call either the `v4` URL, or `v4beta` for operations\
          \ still in Beta."
        explode: false
        in: path
        name: apiVersion
        required: true
        schema:
          default: v4
          enum:
          - v4
          - v4beta
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_client_request'
            x-example:
              x-ref: ../examples/post-client.json
        description: Information about the OAuth Client to create.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_clients_200_response_data_inner'
              x-example:
                x-ref: ../examples/post-client-200.json
          description: Client created successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_account_default_response'
          description: "See [Errors](https://techdocs.akamai.com/linode-api/reference/errors)\
            \ for the range of possible error response codes."
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_write
      summary: Create an OAuth client
      tags:
      - Account
      x-akamai:
        tabs:
        - syntax: |-
            linode-cli account client-create \
              --label Test_Client_1 \
              --redirect_uri https://example.org/callback
          title: CLI
          url: https://www.linode.com/docs/products/tools/cli/get-started/
        - syntax: account:read_write
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
      x-linode-cli-action: client-create
    x-akamai:
      path-info: "/{apiVersion}/account/oauth-clients"
    x-linode-cli-command: account
  /{apiVersion}/account/oauth-clients/{clientId}:
    delete:
      description: |-
        Deletes an OAuth Client registered with Linode. The Client ID and Client secret will no longer be accepted by [login.linode.com](https://login.linode.com), and all tokens issued to this client will be invalidated (meaning that if your application was using a token, it will no longer work).


        <<LB>>

        ---


        - __CLI__.

            ```
            linode-cli account client-delete \
          edc6790ea9db4d224c5c
            ```

            [Learn more...](https://www.linode.com/docs/products/tools/cli/get-started/)

        - __OAuth scopes__.

            ```
            account:read_write
            ```

            [Learn more...](https://techdocs.akamai.com/linode-api/reference/get-started#oauth)
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/delete-client
      operationId: delete-client
      parameters:
      - description: "__Enum__ Call either the `v4` URL, or `v4beta` for operations\
          \ still in Beta."
        explode: false
        in: path
        name: apiVersion
        required: true
        schema:
          default: v4
          enum:
          - v4
          - v4beta
          type: string
        style: simple
      - description: The OAuth Client ID to look up.
        explode: false
        in: path
        name: clientId
        required: true
        schema:
          type: string
        style: simple
      responses:
[...]
